<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bent Creek Ceramics</title>
    <link href="../static/styles.css" rel="stylesheet">
  </head>
  <body>
    <header class="site-header">
      <nav class="header-nav-bar">
        <div class="vase-logo"></div>
        <ul class="nav-items">
          <li class="single-item"><a href="index.html">Home</a></li>
          <li class="single-item"><a href="about.html">About</a></li>
          <li class="single-item"><a href="newsletter.html">Newsletter</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="heading">
        <h1 class="main-heading">Bent Creek Ceramics</h1>
        <h2 class="sub-heading">Where art meets nature</h2>
      </div>

      <div class="img-cards">
          <div class="img-cards-row-1">
            <div class="single-img-card" id="endless"><a href="#">Endless Possibilities</a></div>
            <div class="single-img-card" id="sets"><a href="#">Sets</a></div>
            <div class="single-img-card" id="textures"><a href="#">Textures</a></div>
          </div>
          <div class="img-cards-row-2">
            <div class="single-img-card" id="tea"><a href="#">Tea Time</a></div>
            <div class="single-img-card" id="jars"><a href="#">Jars and Containers</a></div>
            <div class="single-img-card" id="wasabi"><a href="#">Wasabi and Saki</a></div>
            <div class="single-img-card" id="sippin"><a href="#">Sippin' on Sunshine</a></div>
          </div>
      </div>

    </main>

    <footer>Copyright 2017, Bent Creek Ceramics</footer>


  </body>
</html>
